@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}
.bg-gradient {
    background: linear-gradient(180deg, #EA9769 0%, #EA6969 100%);
}